{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "styles": "./styles",
          "pages": "./pages",
          "components": "./components"
        },
        "cwd": "babelrc"
      }
    ]
  ],
  "presets": ["next/babel"],
  "ignore": []
}
