.app-img {
  text-align: center;
  min-height: 100vh;
}

.app-overlay {
  background-color: #3f51b5;
  min-height: 100vh;
  opacity: .4;
  position: absolute;
  width: 100%;
}

.hero-content {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
}

.sponsors {
  position: absolute;
  bottom: 0;
}

.img-fluid {
  max-height: 50px;
  max-width: 200px;
}
