.app-img {
  text-align: center;
  min-height: 100vh;
}

.app-overlay {
  background-color: #3f51b5;
  min-height: 100vh;
  opacity: .4;
  position: absolute;
  width: 100%;
}

.hero-content {
  padding-top: 50px;
}
